In [17]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv('user_Profiles.csv')

# Check for missing values
print(df.isnull().sum())

User_Id     0
Veg_Non     0
Nutrient    0
Disease     0
Diet        0
dtype: int64

In [20]:
# Fill missing values with the mean
#df.fillna(df.mean(), inplace=True)

# Drop only those rows where all the row values are null values
print('DataFrame after dropping the rows where all the values were null values:')
print(df.dropna(axis=0, how='all'))

DataFrame after dropping the rows where all the values were null values:
     User_Id  Veg_Non   Nutrient  \
0     User_1  non-veg   chloride
1     User_2      veg   chloride
2     User_3      veg  magnesium
3     User_4      veg  vitamin_e
4     User_5  non-veg  vitamin_c
..       ...      ...        ...
93   User_96  non-veg       iron
94   User_97      veg       iron
95   User_98      veg   selenium
96   User_99      veg   chloride
97  User_100      veg    calcium

                                              Disease  \
0      anemia kidney_disease goitre rickets pregnancy
1                                              goitre
2     cancer hypertension goitre heart_disease scurvy
3    cancer kidney_disease obesity anemia heart_di...
4      anemia kidney_disease goitre rickets pregnancy
..                                                ...
93     anemia kidney_disease goitre rickets pregnancy
94                                             goitre
95                                       hypertension
96                                             goitre
97   kidney_disease hypertension anemia goitre hea...

                                                 Diet
0    type_a_diet high_protien_diet low_carb_diet l...
1                          high_fiber_diet vegan_diet
2    high_fiber_diet ketogenic_diet high_protien_diet
3    high_fiber_diet ketogenic_diet gluten_free_di...
4    type_a_diet high_protien_diet low_carb_diet l...
..                                                ...
93   type_a_diet high_protien_diet high_fiber_diet...
94   high_fiber_diet low_sodium_diet vegan_diet lo...
95   high_fiber_diet ketogenic_diet low_fat_diet v...
96                         high_fiber_diet vegan_diet
97   high_protien_diet high_fiber_diet ketogenic_d...

[98 rows x 5 columns]